# Environment variables
.env

# Google OAuth / Gmail files
credentials.json
credentials.json.json
token.json

# Runtime files
latest_sender.txt

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Logs
*.log

# Databases
*.db
*.sqlite3

# Build & distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db